<header id="main-header">
    <nav id="sticky">
        <div class="nav-inner">
            <div class="row align-middle">
                <div class="column small-12 medium-3 large-3 text-left">
                    <div id="main-logo">
                        <a href="/"><img src="/assets/images/ownersup-logo-white.svg" width="227" height="42" /></a>
                    </div>
                </div>
                <div class="column hide-for-small-only large-4 large-offset-5 text-right">
                    <ul id="main-nav">
                        {% include menu_items.html %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
