<!doctype html>
<html class="no-js" lang="en">
{% include head.html %}
<body class="{{layout.bodyClasses}}">
  <div class="off-canvas-wrapper">
    {% include mobile_menu.html %}
    <div class="off-canvas-content" data-off-canvas-content>
      <div id="site">
        {% include page-header.html %}
        <main>
          {{ content }}
          <section class="mod cta">
              <div class="row align-center">
                  <div class="columns small-10 large-8 text-center">
                      <h2>Are You Ready to Team-Up & Grow Faster?</h2>
                      <a href="apply" class="button hollow white" data-aos="zoom-in">Sign Up & Accelerate Your Growth</a>
                  </div>
              </div>
          </section>
        </main>
        {% include page-footer.html %}
      </div>
    </div>
  </div>
</body>

</html>
